In [1]:
1+1

2

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

11は数えない

In [5]:
list(range(2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

始めの数は数えるが、最後の数は含まない。

In [7]:
name='ryouka'

In [8]:
name.upper()

'RYOUKA'

.upperはすべて大文字になる。

In [9]:
len(name)

6

len()で文字数を表す。

In [10]:
address = 'Tokyo,Japan'

In [11]:
address.split(',')

['Tokyo', 'Japan']

In [13]:
address.split('o')

['T', 'ky', ',Japan']

splitは指定の文字で区切る。

In [14]:
address.index('T')

0

In [15]:
address.index('p')

8

In [16]:
address.index('x')

ValueError: substring not found

indexは何番目にある文字かを調べる。

In [17]:
address.index('o')

1

indexは左から探すので先に左に出てくる文字が優先される。

In [21]:
address.upper()

'TOKYO,JAPAN'

In [23]:
address.lower()

'tokyo,japan'

In [24]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2008, 1, 5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [26]:
from datetime import *
date_a = date(2008, 1, 1)
date_b = date(2009, 1, 1)
result = date_b - date_a
print(result)

366 days, 0:00:00

日にちを計算する。

In [27]:
date_a.year

2008

In [28]:
date_a.month

1

In [29]:
date_a.day

1

データにアクセスするだけ（属性）

In [30]:
name.upper()

'RYOUKA'

括弧あり。何らかの処理をする（メソッド）

In [32]:
date.today()

datetime.date(2017, 5, 17)

In [53]:
birthday = date(1997,6,29)

In [54]:
today = date.today()

In [55]:
result = today - birthday

In [56]:
print(result)

7262 days, 0:00:00

In [57]:
today.weekday()

2

In [58]:
date_a

datetime.date(2008, 1, 1)

In [59]:
date_a.weekday()

1

|date|
|:--|
|year|
|month|
|day|
|:--|
|weekday()|

In [60]:
from datetime import *
today = date.today()
birthday = date(1997, 6, 29)
life = today - birthday
print(life.days)

7262

In [61]:
date_c=date(2000,5,5)

sy